@font-face {
  font-family: $font-family;
  font-weight: bold;
  src: url('/fonts/PTSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: $font-family;
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/PTSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: $font-family;
  font-style: italic;
  src: url('/fonts/PTSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: $font-family;
  src: url('/fonts/PTSans-Regular.ttf') format('truetype');
}
