fieldset {
  border: none;
}
input:not([type='checkbox']),
textarea,
select {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 1.2rem 1.4rem;
  height: 4.4rem;
  outline: none;
  font-size: 1.6rem;
  background-color: $white;
  margin-bottom: 0px;
  border: 0.1rem solid $gray;
}
