@import "../../../styles/abstracts/";

.tabs {
      .tabs__menu {
            position: relative;
            @include flex(null, center, null, null);
            border-bottom: 0.1rem solid $gray-100;


            .tabs__menu--list {
                  @include flex(null, center, null, 2rem);
                  width: 100%;
                  position: relative;
            }

            .tabs__menu--item {
                  text-align: center;
                  padding: 1rem 0;
                  cursor: pointer;
                  position: relative;
                  transition: color 0.3s ease;

                  &.active {
                        font-weight: bold;
                        color: $orange;
                  }

                  &.active::after {
                        @include position(absolute, null, 0, -0.2rem, 0);
                        content: "";
                        height: 0.2rem;
                        background: $orange;
                        animation: slideBorder 0.3s ease forwards;
                  }
            }
      }

      @keyframes slideBorder {
            from {
                  left: 50%;
                  width: 0;
            }

            to {
                  left: 0;
                  width: 100%;
            }
      }
}