@import '../../../styles/abstracts/index';

.textfield {
  position: relative;
  width: 100%;
  &:hover {
    .textfield__input {
      border-color: $border_hover;
    }
  }
  &__label {
    position: absolute;
    top: 1rem;
    left: 1.4rem;
    pointer-events: none;
    @include transition(all 0.2s ease-in-out);
    @include text($text_secondary, null, 1.4rem);
  }

  &__input {
    &:focus,
    &:not(:focus):valid {
      border-color: $border_active;
      ~ .textfield__label {
        top: -0.8rem;
        left: 0.8rem;
        @include text($text_primary, null, 1rem);
        opacity: 1;
        background-color: #fff;
        padding: 0 5px 0;
        z-index: 1;
      }
    }
  }

  &.error {
    .textfield__label {
      color: $error;
    }
    .textfield__input {
      border-color: $error;
      &:focus,
      &:not(:focus):valid {
        ~ .textfield__label {
          color: $error;
        }
      }
    }
  }

  &__error {
    margin-left: $spacing * 4;
    @include flex(left, center);
    letter-spacing: 0.5px;
    color: $error;
  }
}
