@import '../../../styles/abstracts/index';

.checkbox {
  height: 3.8rem;
  width: 3.8rem;
  @include flex(center, center);
  cursor: pointer;
  border-radius: 50%;
  overflow-y: hidden;
  @include transition(background-color 0.2s);
  position: relative;

  &:after {
    content: '';
    background: $gray_200;
    @include position(absolute, 50%, null, null, 50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transform-style: flat;
    opacity: 0;
    border-radius: 100%;
    transition: all 0.6s;
  }

  &:active:after {
    width: 3.8rem;
    height: 3.8rem;
    opacity: 0.4;
    transition: 0.1s;
  }

  &:hover {
    background-color: $gray_100;
  }

  &__input {
    cursor: pointer;
    height: 1.4rem;
    width: 1.4rem;
    accent-color: $primary;
  }
}