@import '../../../styles/abstracts/index';

.select-box {
      position: relative;
      cursor: default;
      width: 100%;
      @include flex(space-between, center, null, null);

      &__options {
            border: 0.1rem solid $border_active;
            border-top: 0;
            border-bottom-left-radius: 0.8rem;
            border-bottom-right-radius: 0.8rem;
            background-color: $white;
            z-index: 100;
            display: none;
            overflow: hidden;
            @include position(absolute, 85%, null, null, null);
            width: 100%;
            z-index: 1000;
            overflow-y: auto;


            &::-webkit-scrollbar {
                  width: 0.8rem;
                  appearance: none;
            }

            &::-webkit-scrollbar-track {
                  background: $gray_100;
                  z-index: 1;
                  border-bottom-right-radius: 0.8rem;

            }

            &::-webkit-scrollbar-thumb {
                  background: $orange;
                  border-radius: 2rem;
                  cursor: pointer;
                  height: 4rem;
            }

            &.open {
                  display: block;
                  animation: slideIn 0.3s ease forwards;
            }

            &.error {
                  border-color: $error;
                  top: 50%;
                  margin-top: 0.8rem;
            }
      }

      &__option {
            @include text($black_300, 400, 1.4rem, null);
            cursor: pointer;
            padding: 1.2rem 1.4rem;


            &:hover {
                  background-color: $gray;
            }
      }

      &__not-found {
            @include flex(center, center, null, 0.5rem);
            padding: 1.2rem 1.4rem;
            text-transform: capitalize;
            transition: 0.3s ease;
      }

      @keyframes slideIn {
            from {
                  max-height: 0;
                  opacity: 0;
            }

            to {
                  max-height: 14rem;
                  opacity: 1;
            }
      }
}