@import "../../../styles/abstracts/index";

.btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      outline: 0;
      margin: 0;
      cursor: pointer;
      vertical-align: middle;
      border: 0.2rem solid $gray-100;
      border-radius: 2rem;
      overflow: hidden;
      white-space: nowrap;
      text-transform: capitalize;
      text-overflow: ellipsis;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      @include text(null, 500, 1.4rem, 1.75);
      letter-spacing: 0.1rem;
      width: 100%;
      min-width: 4rem;

      // SIZE
      &--large {
            padding: 0.8rem 1.6rem;
            height: 4.8rem;
            border-radius: 2.4rem;
      }

      &--medium {
            padding: 0.6rem 1.4rem;
            height: 3.6rem;
      }

      // VARIANT

      &--default {
            color: $black_200;
            background-color: $white;

            &:hover {
                  color: $orange;
                  border: 0.2rem solid $orange;
            }
      }

      &--secondary {
            color: $white;
            background-color: $orange;
            border-color: transparent;

            &:hover {
                  background-color: $black_300;
            }
      }

      &--outline {
            color: $orange;
            transition: ease-out 0.5s;
            border-color: $orange;
            box-shadow: inset 0 0 0 0 $orange;

            &:hover {
                  color: $white;
                  box-shadow: inset 0 -10rem 0 0 $orange;
            }
      }

      svg {
            margin-left: 0.4rem;
            font-size: 1.8rem;
            line-height: 1;
      }

      &:disabled {
            color: $black-100;
            opacity: 0.6;
            cursor: not-allowed;
            background: $gray;
            transition: opacity 0.3s ease;
            border: 0.2rem solid $gray_200;
      }

      .icon__loading {
            margin: 0;
      }
}