body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Enable vertical scrolling */
    @include flex(flex-start, center, column);
    width: 100%;
}

html {
  scroll-behavior: smooth;
}
header, footer, main,.slick-list{
    width: 100%;
    padding: 0 0.8rem;
    max-width: $max-width;
    @include breakpoint(lg) {
      padding: 0;
    }
}
