input,
textarea,
select {
  width: 100%;
  border: 1.2px solid $border;
  border-radius: 6px;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  outline: none;
  font-size: 1.7rem;
  background-color: $white;
  transition: border 0.2s ease;
}

input:focus,
textarea:focus {
  border: 1.2px solid $border;
}
