@import "../../../styles/abstracts/index";

.icon__btn {
      border: 0;
      border-radius: 50%;
      padding: 0.8rem;
      font-size: 1.5rem;
      color: $gray_900;
      background: $white;
      transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      @include box(4rem, 4rem);
      cursor: pointer;

      svg {
            margin-left: 0;
            display: inline-flex;
            vertical-align: middle;
            flex-shrink: 0;
            @include box(100%, 100%);
            font-size: 2.4rem;
      }

      &:hover {
            background-color: $gray;
      }

      &:disabled {
            color: $black-100;
            opacity: 0.6;
            cursor: not-allowed;
            background: $gray;
            transition: opacity 0.3s ease;
      }
}