@import '../../../styles/abstracts/index';
.quantity {
  width: 14rem;
  border: 0.5px solid $border;
  padding: $spacing * 2;
  border-radius: 0.6rem;
  height: 4.4rem;
  overflow: hidden;
  position: relative;
  &.full-width {
    width: 100%;
  }
  &__btn {
    @include box(3.6rem, 3.6rem);
    @include flex(center, center);
    @include text($text-secondary, 600, 1.6rem);
    cursor: pointer;
    background-color: $gray;
    border-radius: 0.4rem;
    @include transition(all 0.15s ease);
    transform: translateY(-50%);
    overflow: hidden;
    &:after {
      content: '';
      background: $gray-200;
      @include position(absolute, 50%, null, null, 50%);
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      transform-style: flat;
      opacity: 0;
      border-radius: 100%;
      transition: all 0.6s;
    }
    &:active:after {
      width: 10rem;
      height: 10rem;
      opacity: 0.4;
      transition: 0.1s;
    }
    &.left {
      @include position(absolute, 50%, null, null, $spacing * 2);
    }
    &.right {
      @include position(absolute, 50%, $spacing * 2, null, null);
    }
  }

  &__textfield {
    height: 100%;
    text-align: center;
    &:focus,
    &:not(:focus):valid {
      outline: none;
      border: none;
      ~ .textfield__label {
        top: -0.8rem;
        left: 0.8rem;
        @include text($text_primary, null, 1rem);
        opacity: 1;
        background-color: #fff;
        padding: 0 5px 0;
        z-index: 1;
      }
    }
  }
}
